- var fburl = 'https://github.com/auguston/0-sample-webpack'
- var pageTitle = 'Webpact + Gulp sample'
- var description = ''
- var fbImg = ''

<!DOCTYPE html>
html(lang="zh-TW")
  head
    title=pageTitle
    meta(name="description", content=description)
    link(rel="canonical", href=fburl)
    
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(rel="stylesheet", href="src/assets/style.css")

    //- fb
    meta(property="fb:app_id", content="484081328635964")
    meta(property="og:url", content=fburl)
    meta(property="og:type", content="website")
    meta(property="og:site_name", content=pageTitle)
    meta(property="og:title", content=pageTitle)
    meta(property="og:description", content=description)
    meta(property="og:image", content=fbImg)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")

  body
    #app
    script(src="dist/build.js")